.section {
    width: 100%; 
 }
.div1 {
    width: 1336px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 48px;
}
.div-style {
    width: 716px;
    height: 92px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
}
.text1 {
    font-size: 16px;
    color: #282828;
    text-align: center;
    font-family: 'Inter';
}
.text2 {
    font-size: 54px;
    color: #282828;
    text-align: center;
    font-family: 'Inter';
    margin-top: 4px;
}
.text3 {
    font-size: 20px;
    color: #5F6980;
    text-align: center;
    font-family: 'Inter';
    
}
.div-style1 {
    width: 760px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
}
.container {
    width: 1336px;
    margin-left: auto;
    margin-right: auto;
}
.flex-container {
    height: 908px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
    
}
.box {
    width: 310px;
    height: 430px;

}
.block {
    width: 310px;
    height: 168px;
    margin-top: 16px;
}
.block1 {
    width: 278px;
    height: 108px;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
    
}
.text4 {
    font-size: 18px;
    color: #282828;
    font-family: 'Inter';
    margin-bottom: 4px;
}
.text5 {
    font-size: 14px;
    color: #3E3E59;
    margin-bottom: 8px;
    font-family: 'Inter';
}
.text6 {
    font-size: 14px;
    color: #5F6980;
    font-family: 'Inter';

}
.icon {
    width: 278px;
    height: 36px;
    margin-left: auto;
    margin-right: auto;
}
.icon1 {
    width: 36px;
    height: 36px;

}
.icon2 {
    width: 36px;
    height: 36px;

}
.icon3 {
    width: 36px;
    height: 36px;

}

.footer {
    background-color: #53535354;
    margin-top: 48px;
    display: flex;
}

.footer-div1 {
    width: 318.05px;
    height: 221px;
    margin-left: 164px;
    margin-right: 144.95px;
    margin-top: 108px;
    margin-bottom: 183px;
}
.img-f1 {
    width: 100px;
    right: 64px;
    padding-bottom: 32px;
    margin-right: 218.05px;
}
.footer-p1 {
    margin-bottom: 28px;
    font-size: 14px;
    color: #535353;
    font-family: 'Inter';

}
.footer-icon{
    width: 24px;
    right: 24px;
}
.footer-icon1 {
    width: 24px;
    right: 24px;
}
.footer-icon2 {
    width: 24px;
    right: 24px;
}
.footer-div2 {
    width: 136px;
    height: 223px;
    margin-top: 108px;
    margin-bottom: 181px;
    margin-right: 254px;
}
.footer-text1 {
    font-size: 20px;
    color:#1E1E1E;
    font-family: 'Inter';
    margin-bottom: 71px;
    width: 136px;
    height: 24px;
}
.footer-text2 {
    font-size: 14px;
    color: #535353;
    margin-bottom: 15px;
    width: 92px;
    height: 17px;
    font-family: 'Inter';
}
.footer-text3 {
    font-size: 14px;
    color: #535353;
    margin-bottom: 15px;
    width: 92px;
    height: 48px;
    font-family: 'Inter';

}
.footer-text4 {
    font-size: 14px;
    color: #535353;
    width: 108px;
    height: 48px;
    font-family: 'Inter';
}

.footer-div3 {
    width: 296.05px;
    margin-right: 147px;
    margin-top: 108px;
    margin-bottom: 181px;
}
.div11 {
    width: 199px;
    height: 48px;
}
.activ {
    margin-bottom: 55px;
}
.div3-text1 {
    font-size: 20px;
    color: #1E1E1E;
    margin-bottom: 55px;
    font-family: 'Inter';
}



.footer-div4 {
    width: 107px;
    height: 127.45px;
    margin-top: 108px;
    margin-bottom: 276.55px;
    margin-right: 184px;
}
.div4-text1 {
    font-size: 20px;
    color: #1E1E1E;
    width: 107px;
    font-family: 'Inter';
}
.div4-text2 {
    font-size:14px ;
    color: #535353;
    font-family: 'Inter';

}
..div4-text3 {
    font-size:14px ;
    color: #535353;
    font-family: 'Inter';
    


}
.div4-text4 {
    font-size:14px ;
    color: #535353;
    font-family: 'Inter';

}

.langv-style {
    background-color: #054A68;
    width: 80px;
    height: 45px;
    padding-top: 14px;
    padding-bottom: 14;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 58.45px;
}
.div4-text2 {
    font-size: 14px;
    color: #FFFFFF;
    font-family: 'Inter';

}



